<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
</head>

  <body>
    {{> header}}
    <h2>{{screamIt welcomeMessage}} </h2>
    <p>some text to help </p>

    {{> footer}}
  </body>
</html>
